/* 1. Importação de fontes externas (Google Fonts) */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Felipa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* 2. Estilos globais e reset básico */
body {
    margin: 0px;
    padding: 0px;
}

/* 3. Cabeçalho (Header) */
header {
    background-color: #4d1620;
    color: white;
    padding: 15px 0px 15px 0px;
    text-align: center;
}

/* Título principal do cabeçalho */
h1 {
    margin: 0px;
    font-family: "Playfair Display", serif;
}

/* Títulos secundários */
h2 {
      font-family: "Playfair Display", serif;
      margin: 0px;
      font-size: 50px
}

/* 4. Seção sobre / Banner de fundo */
.sobre {
    height: 450px;
    background-image: url(../assets/imgs/vinhos.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

/* Container de texto sobreposto à imagem */
#conteudo {
    color: white;
    margin-left: 70px;
    max-width: 500px;
}

/* Parágrafos do texto principal */
p {
    font-size: 20px;
    font-family: "DM Sans", sans-serif;
}

/* Subtítulo com estilo cursivo */
#subtitulo {
    font-size: 23px;
    font-family: "Felipa", serif;
    margin: 0px;
}

/* 5. Área de ações e botões */
.acao {
    margin-left: 70px;
}

/* Elemento de suporte ou subpágina */
#subpag {
    color:#4d1620
}

/* Botão principal de cadastro de vinhos */
#btn-cadastrarvinhos {
    color: white;
    background-color: #4d1620;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 15px;
    margin-bottom: 10px;
}

/* Efeito ao passar o cursor sobre o botão */
button:hover {
    background-color: #A05262;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Linha decorativa abaixo dos títulos h2 */
h2::after {
    content: "";
    display: block;
    width: 45px;
    height: 3px;
    background-color: #A05262;
    margin-top: 0px;
}

/* 6. Rodapé da página (Footer) */
footer {
    background-color: #4d1620;
    color: white;
    padding: 10px 0px 15px 0px;
    text-align: center;
    display: flex;
    margin-top: 20px;
}

/* Título secundário do rodapé */
#minitit {
    font-family: "Playfair Display", serif;
    margin-left: 70px;
}

/* Subtítulo secundário do rodapé */
#minisub {
    font-family: "Felipa", serif;
    font-size: 15px;
    margin-left: 8px;
    margin-top: 27px;
}